.container {
  background-color: #D9DDDC;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
    background: #f6f6f6;
    width: 800px;
    padding: 10px;
    border: 1px solid #c2c8c7;
    border-radius: 6px;
}

.accordion {
  border: 1px solid #ced4d3;
  border-radius: 6px;
  margin: 30px 10px;
}