.container {
	background-color: #D9DDDC;
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	background: #f6f6f6;
    width: 820px;
    padding: 10px;
    border: 1px solid #CCCC;
    border-radius: 6px;
}

.accordion {
	border: 1px solid #ced4d3;
	border-radius: 6px;
	margin: 30px 10px;
}

@media screen and (max-width: 820px) {
	.container {
		min-height: 97vh;
	}

	.wrapper {
		width: 700px;
	}
}

@media screen and (max-width: 540px) {
	.wrapper {
		width: 450px;
	}
}

@media screen and (max-width: 415px) {
	.container {
		min-height: 97vh;
	}

	.wrapper {
		width: 335px;
	}
}

@media screen and (max-width: 350px) {
	.wrapper {
		width: 300px;
	}
}
